/* base css */
body,
#content,
#content input{
	background: #202020;
}
#content input,
.btn,.btn:hover{
	color: #fff;
}

#content{
	padding: 3rem 2rem 0;
}
#content input{
	height: 3.5rem;   
	margin-bottom: 1rem;   
	border: .1rem solid #666;        
}
.btn,.btn:hover{  
	background: #1dbcd2;
	border: none;
	height: 4.5rem; 
	margin-top: 2rem;
	font-size: 1.8rem;
}
