body{
	background: #202020;
}
.content{
	background: rgba(0, 0, 0, .3); 
}
.content > span{
	font-size: 2rem;
} 
.icon{
	width: 5rem;
	height:5rem;
}
.alipay,
.wcpay{
	cursor: pointer;
}
.alipay > div,
.wepay > div{
	line-height: 2rem;
}
.title{
	font-size: 1.8rem;
	color: #ccc;
}
.tip{
	font-size: 1.4rem;
	color: #999;
}
.radio{
	top: 50%;
	right: 1rem;
	width: 2rem;
	height: 2rem;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
#payBtn{  
	background: #2bbccf;   
	border: none;
	height: 4rem;   
	color: #fff;
}
@media screen and (max-width: 320px){      
    .icon{
		width: 4.5rem;
		height: 4.5rem;
	}
	.title{
		font-size: 1.6rem;
	}
	.tip{
		font-size: 1.3rem;
	}
	.radio{
		right: 0;
	}
}   
   
