html,body{
	height: 100%;
	background: #EDEDED;
}
.money{
	font-weight: 500;
	font-size: 5rem;
}
.receive{
	width: 100%;
	background: #fff;
}
.receive-left{
	color: #999;
} 
.money,
.money span,
.receive-right{
	color: #000;
}
#payNowBtn{  
	width: 95%;
	height: 4.5rem;   
	margin-top: 1.5rem;
	background: #45C01A;   
	border: none;
	color: #fff;
	border-radius: .4rem;
}
footer{
	width: 95%;
	color: #BFBFBF;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}